.NavBar-color{
    background-color: white;
    opacity: 0.8;
    transition: all 500ms;

  }
.NavBar-color.active{
    /* background-color: transparent; */
    /* background-color: white; */
    background-color: var(--orange-main);
    opacity: 0.8;
  
}

.general-logo{
    max-width: 15vh;
}

.logo-container{
    margin-right:60vh ;
}
.search-icon{
    margin-right:  30px;
    cursor: pointer;
}

.user-icon{
    margin-right: 30px;
    cursor: pointer;
}

.cart-icon{
    margin-right: 30px;
    cursor: pointer;
}

.link-user{
    color: #000;
}