.products-img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    
}
.add-cart{
    cursor: pointer;
}

.product-cards{
    transition: 0.3s;
}
.product-cards:hover{
    transform: translateY(-0.8rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbb;
}
.sizes-display{
    display: flex;
    align-items: center; 
}
.sizes-display .dropdown {
    margin-left: 10px;
  }


.product-info{
    margin-top: 2rem;
}